<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Emotion Analysis</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="{% static 'css/bmn.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
<div id="page">
    <header>
        <div class="inner">
            <a id="logo" title="Return to homepage" href="#"><img
                    src="{% static 'images/logos.png' %}" alt="Emotion analysis"></a>
            <form class="search_form" action="{% url 'emotionanalysis:search'%}" method="post">
                {% csrf_token %}
                <input name="search_query" id="search_query" placeholder="Enter domain or url..." type="text">
                <button id="search_button" type="submit"><span>Search</span></button>
            </form>
        </div>
    </header>
    <div id="content"><h1>Emotion Analysis: comments analysis tool</h1>
        <p>Enter a website below to analyse the comments for the target product</p>
        <form class="search_form" action="{% url 'emotionanalysis:search'%}" method="post">
            {% csrf_token %}
            <label for="search_query">Domain/URL:</label>
            <input name="search_query" id="search_query" type="text">
            <button id="search_button" type="submit"><span>Analyse</span></button>
        </form>
        <div style="margin-top:50px;"></div>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
{#<script src="{% static 'js/bmn.js' %}"></script>#}

</body>
</html>